<div fxLayout="column" fxLayoutAlign="center left">
  <mat-nav-list>
    <a mat-list-item routerLink="/customers"><mat-icon>people</mat-icon><span class="nav-caption">Customers</span></a>
    <a mat-list-item routerLink="/customer_info"><mat-icon>person</mat-icon><span class="nav-caption">Customer_Info</span></a>
    <a mat-list-item routerLink="/accounts"><mat-icon>attach_money</mat-icon><span class="nav-caption">Accounts</span></a>
    <a mat-list-item routerLink="/transactions"><mat-icon>assignment</mat-icon><span class="nav-caption">Transactions</span></a>
  </mat-nav-list>
</div>

