<div>
      <div fxLayoutAlign="center center" class="flex-container">
        
		<div fxLayout="column" fxLayoutAlign="center center" class="full" fxHide.lt-md>
  <mat-card>
    <!-- <mat-spinner mode="indeterminate" fxLayoutAlign="center center"></mat-spinner> -->
	<form (submit)="onCreditFunds()" [formGroup]="credit_account_form" fxLayout="column" fxLayoutAlign="center center">
      
      <div fxLayout="column" fxLayoutAlign="center center" class="flex-container-box">
        <div fxLayoutAlign="center center" class="flex-container">
          <div>
            <mat-form-field>
			<input matInput type="text" placeholder="Account Number" #accountNumber formControlName="account_number" (keydown.tab)="displayCustomer(accountNumber.value)"/>
             <mat-error *ngIf="credit_account_form.get('account_number').invalid">Invalid Account Number</mat-error>
            </mat-form-field>
          </div>

          <div>
			<mat-form-field>
              <input matInput type="text" formControlName="account_holder"/>
            </mat-form-field>
          </div>
        </div>

		<div fxLayoutAlign="center center" class="flex-container">
          <div>
            <mat-form-field>
			<input matInput type="text" #amountValue placeholder="Amount" formControlName="amount" (keydown.tab)="setAmount(amountValue.value)"/>
            </mat-form-field>
          </div>

        </div>

        <div fxLayoutAlign="center center" class="flex-container">
          <button mat-raised-button color="accent" type="submit">Submit</button>
          <button mat-raised-button color="warn">Clear</button>
        </div>
        <!--<mat-spinner mode="indeterminate" fxLayoutAlign="center center"></mat-spinner>-->
      </div>
  </form>
  </mat-card>
</div>

<div fxLayout="column" fxLayoutAlign="center center" class="half" fxHide.gt-sm>
  <mat-card>
    <!-- <mat-spinner mode="indeterminate" fxLayoutAlign="center center"></mat-spinner> -->
    <form (submit)="onCreditFunds()" [formGroup]="credit_account_form" fxLayout="column" fxLayoutAlign="center center">

      <div fxLayout="column" fxLayoutAlign="center center" class="flex-container-box">

        <mat-form-field>
			<input matInput type="text" placeholder="Account Number" #accountNumber formControlName="account_number" (keydown.tab)="displayCustomer(accountNumber.value)"/>
             <mat-error *ngIf="credit_account_form.get('account_number').invalid">Invalid Account Number</mat-error>
        </mat-form-field>
		
        <mat-form-field>
            <input matInput type="text" formControlName="account_holder"/>
        </mat-form-field>

		<mat-form-field>
            <input matInput type="text" #amountValue placeholder="Amount" formControlName="amount" (keydown.tab)="setAmount(amountValue.value)"/>
        </mat-form-field>
        </div>
      <div fxLayoutAlign="center center" class="flex-container">
        <button mat-raised-button color="accent" type="submit">Submit</button>
        <button mat-raised-button color="warn">Clear</button>
      </div>
      <!--<mat-spinner mode="indeterminate" fxLayoutAlign="center center"></mat-spinner>-->
    </form>
  </mat-card>
</div>
		
      </div>
</div>